@charset "utf-8";
.navbar {
	margin-left: auto;
	margin-right: auto; 
	
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #000000; 
}

.logo {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.video {
	
	display: block;
	border: hidden;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	height: 700px;
}