@charset "utf-8";
.navbar {
	position: relative;
	background-color: #CFBDAF;
	margin-left: auto;
	margin-right: auto; 
	
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: #6F4E40;
	font-size: 25px;
	
}

.Home {
	margin-right: 25px;
	margin-left: 25px;
}

.About {
	margin-right: 25px;
	margin-left: 25px;
}

.Mission {
	margin-right: 25px;
	margin-left: 25px;
}

.Product {
	
	margin-right: 25px;
	margin-left: 25px;
}
.Justification {
	margin-right: 25px;
	margin-left: 25px;
	
}
.logo {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.video {
	
	display: block;
	border: hidden;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	height: 700px;
}

.text {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	
}

.footer {
	display: block;
	background-color: #6F4E40;
	height: 50px;
}

.video {
	
	position: relative;
  text-align: center;
  color: #FFFFFF;
}

.centered {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}